* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.v1_2 {
  width: 100%;
  max-width: 900px;
  height: auto;
  background: rgba(255,255,255,1);
  opacity: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.v1_12 {
  width: 656px;
  height: 222px;
  background: url("../images/v1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  margin-bottom: 50px;
}
.v3_2 {
  width: 861px;
  height: 82px;
  background: rgba(255,255,255,1);
  opacity: 1;
  border-top-left-radius: 85px;
  border-top-right-radius: 85px;
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}
.v3_9 {
  width: 40px;
  height: 40px;
  background: url("../images/v3_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.6000000238418579;
  overflow: hidden;
  margin: 0 5px;
  margin-left: 5px;
  margin-right: auto;
}
.v3_10 {
  width: 40px;
  height: 40px;
  background: url("../images/v3_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  overflow: hidden;
  margin-right: 10px;
}
.v3_12 {
  width: 40px;
  height: 40px;
  background: url("../images/v3_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  overflow: hidden;
  margin-right: 10px;
}
.v3_11 {
  width: 40px;
  height: 40px;
  background: url("../images/v3_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  overflow: hidden;
  margin-right: 0;
}
.v3_9{order: 1;}
.v3_10{order: 3;}
.v3_12{order: 4;}
.v3_11{order: 2;}

.v3_6 {
  width: 397px;
  height: 63px;
  background: url("../images/v3_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  margin-top: 20px;
}
