body{
    font-family:"Arials",sans-serif;
    margin:0;
    padding:0;
    text-align: center;
}

header{
    display:flex;
    justify-content: space-between;
    padding:16px 24px;
    font-size:14px;
}

.left-menu a,
.right-menu a{
    margin:0 8px;
    color:#202124;
    text-decoration:none;
}

.right-menu i{
    margin:0 8px;
    cursor:pointer;
}

.login{
    background-color: #1a73e8;
    color:white;
    border:none;
    border-radius: 20px;
    padding: 6px 16px;
    margin-left: 10px;
    cursor:pointer;
}

.logo{
    margin-top:100px;
    width: 272px;
}

.search-box{
    margin:24px auto;
    width: 560px;
    display: flex;
    align-items: center;
    padding:10px 16px;
    border: 1px solid  #dfe1e5;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    gap: 10px;
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    font-size: 16px;
}

.search-box i{
    color:#70757a;
}

.search-box i:nth-child(2),
.search-box i:nth-child(3),
.search-box i:nth-child(4){
    cursor:pointer;
}

.buttons{
    margin-top:24px;
}

.buttons button{
    margin:0 6px;
    padding: 10px 16px;
    line-height: 20px;
    height: 40px;
    border:none;
    background-color: #f8f9fa;
    border-radius:4px;
    cursor:pointer;

}

.buttons button:hover{
    border: 1px solid #dadce0;
}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#f2f2f2 ;
    font-size: 14px;
    color:#70757a;
}

.location{
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #e4e5e6;
}

.footer-links{
    display:flex;
    justify-content: space-between;
    padding:10px 20px;
}

.footer-links a{
    margin: 0 10px;
    color:#70757a;
    text-decoration:none;
}